@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
@import url('https://use.fontawesome.com/fbf499a85c.css');

@include foundation-xy-grid-classes;

$primary: #20BF55;
$primary-darker: #0B3F1C;
$accent: #01BAEF;
$secondary: #0B4F6C;
$light-gray: #757575;
$dark-gray: #2B2B2B;
$white: #FBFBFF;
$black: #161616;
