@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,400,900');

$primary: #20BF55;
$accent: #01BAEF;
$secondary: #0B4F6C;
$light-gray: #757575;
$dark-gray: #2B2B2B;
$white: #FBFBFF;
$black: #161616;
